<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: :true}) do |f| %>
  <%= devise_error_messages! %>

  <div class="container"
    style="background: #F8F8FF;
    padding: 15px;
    box-shadow: 10px 10px 5px grey;">

    <div class="form-group">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, class:"form-control", placeholder:"First Name", autofocus: true %>
    </div>

    <div class="form-group">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, class:"form-control", placeholder:"First Name" %>
    </div>

    <div class="form-group">
      <%= f.label :date_of_birth %>
      <br/>
      <%= f.date_select :date_of_birth, start_year: Date.today.year - 18, end_year: Date.today.year - 100 %>
    </div>

    <fieldset class="form-group">
      <%= f.label :gender %>
      <div class="field.radio">
        <% User.genders.keys.each do |gender| %>
          <%= f.radio_button :gender, gender %>
          <%= f.label gender.to_sym %>
        <% end %>
      </div>
    </fieldset>

    <div class="form-group">
      <%= f.label :image %>
      <%= f.file_field :image %>
    </div>

    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, class:"form-control", placeholder:"Personal Description", rows:"10" %>
    </div>

    <div class="form-group">
      <%= f.label :profession %>
      <%= f.text_field :profession, class:"form-control", placeholder:"Work/Study" %>
    </div>

    <div class="form-group">
      <%= f.label :work_experience %>
      <%= f.text_area :work_experience, class:"form-control", placeholder:"Work Experience", rows:"10" %>
    </div>

    <div class="form-group">
      <%= f.label :current_location %>
      <%= f.text_field :current_location, class:"form-control", placeholder:"Location" %>
    </div>

    <div class="form-group">
      <%= f.label :vehicle %>
      <%= f.check_box :vehicle %>
    </div>

    <div class="form-group">
      <%= f.label :available_for_work %>
      <%= f.check_box :available_for_work  %>
    </div>

    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, class:"form-control", placeholder:"Email" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="form-group">
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "off", class:"form-control", placeholder:"New Password" %>
      <% if @minimum_password_length %>
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control", placeholder:"Confirm New Password" %>
    </div>

    <div class="form-group has-warning">
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "off", class:"form-control", placeholder:"Current Password" %>
    </div>

    <div class="actions">
      <%= f.submit "Update", class:"btn btn-success" %>
    </div>

<%end%>

  <h3>Delete my account</h3>
  Unhappy with Us?<br/>
  <br/>
  <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-danger" %>
  <br/>
  <%= link_to "Back", :back, class:"btn btn-secondary" %>

  </div>
