
  <h6><%=
  <div class="form-group">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, class:"form-control", placeholder:"First Name", autofocus: true %>
  </div>

  <div class="form-group">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, class:"form-control", placeholder:"Last Name", autofocus: true %>
  </div>

  <div class="form-group">
    <%= f.label :date_of_birth %>
    <br/>
    <%= f.date_select :date_of_birth, start_year: Date.today.year - 18, end_year: Date.today.year - 100 %>
  </div>

  <fieldset class="form-group">
    <%= f.label :gender %>
    <div class="field.radio">
      <% User.genders.keys.each do |gender| %>
        <%= f.radio_button :gender, gender %>
        <%= f.label gender.to_sym %>
      <% end %>
    </div>
  </fieldset>

  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class:"form-control", placeholder:"Personal Description", rows:"10" %>
  </div>

  <div class="form-group">
    <%= f.label :profession %>
    <%= f.text_field :profession, class:"form-control", placeholder:"Work/Study" %>
  </div>

  <div class="form-group">
    <%= f.label :work_experience %>
    <%= f.text_area :work_experience, class:"form-control", placeholder:"Work Experience", rows:"10" %>
  </div>

  <div class="form-group">
    <%= f.label :current_location %>
    <%= f.text_field :current_location, class:"form-control", placeholder:"Location" %>
  </div>

  <div class="form-group">
    <%= f.label :mobile %>
    <%= f.text_field :mobile, class:"form-control", placeholder:"Mobile Number" %>
  </div>

  <div class="form-group">
    <%= f.label :telephone %>
    <%= f.text_field :telephone, class:"form-control", placeholder:"Telephone Number" %>
  </div>

  <div class="form-group">
    <%= f.label :vehicle %>
    <%= f.check_box :vehicle %>
  </div>

  <div class="form-group">
    <%= f.label :available_for_work %>
    <%= f.check_box :available_for_work  %>
  </div>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, class:"form-control", placeholder:"Email" %>
  </div>

  <div class="actions">
    <%= f.submit class:"btn btn-success" %>
  </div>
<% end %>

<br/>
<h3>Delete my account</h3>
Unhappy with Us?<br/>
<br/>
<%= button_to "Cancel account", registration_path(user), data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-danger" %>
<br/>
