<div class="container">
  <h1><%= @user.first_name %> <%= @user.last_name %></h1>

  Date of Birth: <%= @user.date_of_birth.strftime("%B %d, %Y") %>
  <br/>
  <br/>
  Gender: <%= @user.gender %>
  <br/>
  <br/>
  Profession: <%= @user.profession %>
  <br/>
  <br/>
  Description: <%= @user.description %>
  <br/>
  <br/>
  Work Experience: <%= @user.work_experience %>
  <br/>
  <br/>
  Address: <%= @user.current_location %>
  (Latitude: <%= @user.latitude %> Longitude: <%= @user.longitude%>)
  <br/>
  <!-- <%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@user.latitude},#{@user.longitude}&markers=#{@user.latitude},#{@user.longitude}&zoom=15&size=640x400&key=AIzaSyBNjdwrpQ8D6O542G7gyNngdexq77DvVS8",
                class: 'img-fluid img-rounded', alt: "#{@user.current_location} on the map"%> -->

  <% if can? :update, User %>
  <%= link_to 'Edit Profile', edit_user_registration_path, class:"btn btn-primary" %>
  <%end%>


</div>
