<div class="container">

  <div class="row">
    <div class="col-4">
      <%= image_tag(@user.image_url(:med)) if @user.image? %>

      <h1><%= @user.first_name %> <%= @user.last_name %></h1>

      <strong>Date of Birth:</strong> <%= @user.date_of_birth.strftime("%B %d, %Y") %>
      <br/>
      <% if @user.gender? %>
      <strong>Gender:</strong> <%= @user.gender.capitalize %>
      <br/>
      <%end%>
      <% if @user.mobile? %>
      <strong>Mobile:</strong> <%= @user.mobile %>
      <br/>
      <%end%>
      <% if @user.telephone? %>
      <strong>Telephone:</strong> <%= @user.telephone %>
      <br/>
      <%end%>
      <br/>
      <% unless @user.id == current_user.id %>
      <%= link_to 'Send a Message', new_conversation_path(:receiver_id => @user.id), class:"btn btn-outline-success" %>
      <%end%>
      <% if @user.id == current_user.id || current_user.admin? %>
      <%= link_to 'Edit Profile', edit_user_registration_path, class:"btn btn-outline-primary" %>
      <%end%>

    </div>
    <div class="col-8">
      <% if @user.profession? %>
      <strong>Profession:</strong> <%= @user.profession %>
      <br/>
      <br/>
      <%end%>
      <% if @user.description? %>
      <strong>Description:</strong> <%= @user.description %>
      <br/>
      <br/>
      <%end%>
      <% if @user.work_experience? %>
      <strong>Work Experience:</strong> <%= @user.work_experience %>
      <br/>
      <br/>
      <%end%>
      <% if @user.current_location? %>
      <strong>Address:</strong> <%= @user.current_location %>
      <br/>
      <div id="mapouter">
        <div id="gmap_canvas">
          <iframe width="600" height="500" frameborder="0" scrolling="no" marginheight="0" src="https://maps.google.com/maps?q=<%= @user.current_location %>, IE, &t=&z=17&ie=UTF8&iwloc=&output=embed" marginwidth="0"></iframe>
          <a class="addmaps"href="http://www.map-embed.com/wordpress-themes/"id="get-map-data">Cork, IE, </a>
        </div>
        <style>#gmap_canvas{height:500px;width:600px;}#mapouter{overflow:hidden;height:500px;width:600px;}</style>
      </div>
      <%end%>

    </div>


  </div>



</div>
