<p id="notice"><%= notice %></p>

<div class="container">

  <% if can? :create, Company %>
  <%= link_to 'New Company', new_company_path, class:"btn btn-outline-success" %>
  <%end%>
  <br/>
  <br/>

  <h1>Your Organisation(s)</h1>
  <br/>

  <div class="row">
    <div class="card-deck">
      <% current_user.companies.each do |company| %>
      <div class="card text-center" style="width: 17rem;">
        <%= image_tag company.image_url(:med), class:"card-img-top" %>
        <div class="card-block">
          <h4 class="card-title"><%= company.company_name%></h4>
          <p class="card-text"><%= company.location%></p>
        </div>
        <div class="card-footer">
          <%= link_to 'Show', company, class: "btn btn-outline-primary" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <% if current_user.admin? %>
  <br/>
  <h1>All Organisations</h1>
  <br/>

  <div class="row">
    <div class="card-deck">
    <% @companies.each do |company| %>
      <div class="card text-center" style="width: 17rem;">
        <% if company.image? %>
        <%= image_tag company.image_url(:med), class:"card-img-top" %>
        <% end %>
        <div class="card-block">
          <h4 class="card-title">
            <%= company.company_name %>
          </h4>
          <p class="card-text">
            <%= company.location %>
          </p>
        </div>
        <div class="card-footer">
          <%= link_to "Go to Company", company_path(company.id), class:"btn btn-outline-primary" %>
        </div>
      </div>
      <%end%>
    </div>
  </div>
  <%end%>

</div>
