<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-4">
      <%= image_tag(@company.image_url(:med)) if @company.image? %>
      <h1><%= @company.company_name %></h1>
      <br/>

      <h4>All related Activites:</h4>
      <div class="list-group">
        <% if can? :create, Activity %>
        <a href="/companies/<%= @company.id %>/activities/new" class="list-group-item active">
          Create New Activity
        </a>
        <% end %>
        <% @company.activities.each do |activity| %>
        <a href="/companies/<%= @company.id %>/activities/<%= activity.id %>" class="list-group-item list-group-item-action"><%= activity.activity_name%></a>
        <% end %>
      </div>
    </div>

    <div class="col-8">
      <strong>Description:</strong> <%= @company.description %>
      <br/>
      <br/>
      <% if @company.location? %>
      <strong>Address:</strong> <%= @company.location %>
      <br/>
      <div id="mapouter">
        <div id="gmap_canvas">
          <iframe width="600" height="500" frameborder="0" scrolling="no" marginheight="0" src="https://maps.google.com/maps?q=<%= @company.location %>, IE, &t=&z=17&ie=UTF8&iwloc=&output=embed" marginwidth="0"></iframe>
          <a class="addmaps"href="http://www.map-embed.com/wordpress-themes/"id="get-map-data">Cork, IE, </a>
        </div>
        <style>#gmap_canvas{height:500px;width:600px;}#mapouter{overflow:hidden;height:500px;width:600px;}</style>
      </div>
      <%end%>
      <br/>
      <br/>
      <% if can? :update, @company %>
      <%= link_to 'Edit', edit_company_path(@company), class: "btn btn-outline-primary" %>
      |
      <% end %>
      <% if can? :destroy, @company %>
      <%= link_to 'Delete', edit_company_path(@company), class: "btn btn-outline-danger" %>
      |
      <% end %>
      <%= link_to 'Back', companies_path, class: "btn btn-secondary" %>
      <br/>
      <br/>

    </div>
  </div>

</div>
