<%= form_for([@company, @activity], html: {multipart: :true}) do |f| %>
  <% if @activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% @activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">

  <div class="form-group">
    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
      <div class="input-group-addon"><i class="fa fa-users" aria-hidden="true"></i></div>
      <%= f.text_field :activity_name, class:"form-control", placeholder:"Activity Name", autofocus: true %>
    </div>
  </div>

  <div class="form-group">
    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
      <div class="input-group-addon"><i class="fa fa-file-text" aria-hidden="true"></i></div>
      <%= f.text_area :description, class:"form-control", placeholder:"Activity Description", rows:"10" %>
    </div>
  </div>

  <div class="field">
    <%= f.label :start_date %>
    <br/>
    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
      <div class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></div>
      <%= f.date_select :start_date, class:"form-control", default: Date.today, start_year: Date.today.year %>
    </div>
  </div>

  <div class="field">
    <%= f.label :end_date %>
    <br/>
    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
      <div class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></div>
      <%= f.date_select :end_date, class:"form-control", default: Date.today, start_year: Date.today.year %>
    </div>
  </div>

  <br/>
  <div class="form-group">
    <i class="fa fa-picture-o" aria-hidden="true"></i>  <%= f.label :image %> -
    <%= f.file_field :image %>
  </div>
  <br/>
  
  <div class="form-group">
    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
      <div class="input-group-addon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
      <%= f.text_field :location, class:"form-control", placeholder:"Activity Location" %>
    </div>
  </div>


  <div class="form-group">
    <label class="custom-control custom-checkbox">
      <span class="custom-control-description"><i class="fa fa-car" aria-hidden="true"></i> <%= f.label :vehicle %></span>
      <%= f.check_box :vehicle, class:"custom-control-input" %>
      <span class="custom-control-indicator"></span>
    </label>
  </div>

  <div class="form-group">
    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
      <div class="input-group-addon"><i class="fa fa-mobile" aria-hidden="true"></i></div>
      <%= f.text_field :mobile, class:"form-control", placeholder:"Mobile Number" %>
    </div>
  </div>

  <div class="form-group">
    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
      <div class="input-group-addon"><i class="fa fa-phone" aria-hidden="true"></i></div>
      <%= f.text_field :telephone, class:"form-control", placeholder:"Telephone Number" %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit  class:"btn btn-success btn-block"%>
  </div>

<% end %>

 </div>
