<div class="container">
  <p id="notice"><%= notice %></p>

  <div class="row">
    <div class="col-4">
      <h1><%= @activity.activity_name %></h1>
      <br/>
      <strong>Mobile No:</strong> <%= @activity.mobile %>
      <br/>
      <br/>
      <strong>Telephone No:</strong> <%= @activity.telephone %>
      <br/>
      <br/>
    </div>

    <div class="col-8">
      <strong>Description:</strong> <%= @activity.description %>
      <br/>
      <br/>
      <strong>Start Date:</strong> <%= @activity.start_date %>
      <br/>
      <br/>
      <strong>End Date:</strong> <%= @activity.end_date %>
      <br/>
      <br/>
      <strong>Address:</strong> <%= @activity.location %>
      (Latitude: <%= @activity.latitude %> Longitude: <%= @activity.longitude%>)
      <br/>
      <%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@activity.latitude},#{@activity.longitude}&markers=#{@activity.latitude},#{@activity.longitude}&zoom=15&size=640x400&key=AIzaSyBNjdwrpQ8D6O542G7gyNngdexq77DvVS8",
                    class: 'img-fluid img-rounded', alt: "#{@activity.location} on the map"%>
      <br/>
      <br/>
      <% if can? :update, @activity %>
      <%= link_to 'Edit', edit_company_activity_path(@company, @activity), class: "btn btn-outline-primary" %>
      |
      <% end %>
      <% if can? :destroy, @activity %>
      <%= link_to "Delete", company_activity_path(@company, @activity), data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-outline-danger" %>
      |
      <% end %>
      <%= link_to 'Back', company_activities_path(@company), class: "btn btn-secondary" %>
      <br/>
      <br/>

    </div>
  </div>

</div>
