<div class="container">
  <p id="notice"><%= notice %></p>

  <div class="card-group">
    <div class="card">
      <div class="card-block">
        <% if @activity.image? %>
        <%= image_tag @activity.image_url(:lrg), class:"card-img-top", style:"height:500px, width:100%" %>
        <% end %>
        <div class="card-block">
          <h4 class="card-title"><%= @activity.activity_name %></h4>
          <p class="card-text"><strong>Start Date: </strong><%= @activity.start_date.strftime("%d/%m/%Y")%></p>
          <p class="card-text"><strong>End Date: </strong><%= @activity.end_date.strftime("%d/%m/%Y")%></p>
          <p class="card-text"><strong>Description: </strong><%= @activity.description%></p>
          <% if @user.id == current_user.id %>
          <%= link_to 'Find Help Nearby', search_path(:q => @activity.location, :category => "ulocation"), class:"btn btn-outline-warning" %>
          <%end%>
          <br/>
          <br/>
          <% unless @user.id == current_user.id %>
          <%= link_to 'Message Owner', new_conversation_path(:receiver_id => @user.id), class:"btn btn-outline-success" %>
          |
          <%= link_to 'Company Profile', company_path(@activity.company_id), class: "btn btn-outline-warning" %>
          <%end%>
          <% if can? :update, @activity %>
          <%= link_to 'Edit', edit_company_activity_path(@company, @activity), class: "btn btn-outline-primary" %>
          |
          <% end %>
          <% if can? :destroy, @activity %>
          <%= link_to "Delete", company_activity_path(@company, @activity), data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-outline-danger" %>
          |
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="card-group">
    <% if @activity.vehicle? %>
      <div class="card text-center">
        <div class="card-block">
          <h4 class="card-title">Vehicle: <i class="fa fa-car fa-lg" aria-hidden="true"></i></h4>
        </div>
      </div>
    <%end%>
    <% if @activity.mobile? %>
      <div class="card text-center">
        <div class="card-block">
          <h4 class="card-title"><i class="fa fa-mobile fa-lg" aria-hidden="true"></i> <%= @activity.mobile%></h4>
        </div>
      </div>
    <%end%>
    <% if @activity.telephone? %>
      <div class="card text-center">
        <div class="card-block">
          <h4 class="card-title"><i class="fa fa-phone fa-lg" aria-hidden="true"></i> <%= @activity.telephone%></h4>
        </div>
      </div>
    <%end%>
  </div>

  <% if @activity.location? %>
  <div class="card-group">
    <div class="card text-center">
      <div class="card-block">
        <div id="mapouter">
          <div id="gmap_canvas">
            <iframe width="1060" height="500" frameborder="0" scrolling="no" marginheight="0" src="https://maps.google.com/maps?q=<%= @activity.location %>, IE, &t=&z=17&ie=UTF8&iwloc=&output=embed" marginwidth="0"></iframe>
          </div>
          <style>#gmap_canvas{height:500px;width:1060px;}#mapouter{overflow:hidden;height:500px;width:1060px;}</style>
        </div>
      </div>
    </div>
  </div>
  <%end%>



    <!-- <div class="col-8">
      <strong>Description:</strong> <%= @activity.description %>
      <br/>
      <br/>
      <strong>Start Date:</strong> <%= @activity.start_date %>
      <br/>
      <br/>
      <strong>End Date:</strong> <%= @activity.end_date %>
      <br/>
      <br/>
      <% if @activity.location? %>
      <strong>Address:</strong> <%= @activity.location %>
      (Latitude: <%= @activity.latitude %> Longitude: <%= @activity.longitude%>)
      <br/>
      <div id="mapouter">
        <div id="gmap_canvas">
          <iframe width="600" height="500" frameborder="0" scrolling="no" marginheight="0" src="https://maps.google.com/maps?q=<%= @activity.location %>, IE, &t=&z=17&ie=UTF8&iwloc=&output=embed" marginwidth="0"></iframe>
          <a class="addmaps"href="http://www.map-embed.com/wordpress-themes/"id="get-map-data">Cork, IE, </a>
        </div>
        <style>#gmap_canvas{height:500px;width:600px;}#mapouter{overflow:hidden;height:500px;width:600px;}</style>
      </div>
      <%end%>
      <br/>
      <% if can? :update, @activity %>
      <%= link_to 'Edit', edit_company_activity_path(@company, @activity), class: "btn btn-outline-primary" %>
      |
      <% end %>
      <% if can? :destroy, @activity %>
      <%= link_to "Delete", company_activity_path(@company, @activity), data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-outline-danger" %>
      |
      <% end %>
      <%= link_to 'Back', company_activities_path(@company), class: "btn btn-secondary" %>
      <br/>
      <br/>

    </div>
  </div> -->

</div>
