<div class="container">
  <p id="notice"><%= notice %></p>

  <div class="row">
    <div class="col-4">
      <%= image_tag(@activity.image_url(:med)) if @activity.image? %>
      <h1><%= @activity.activity_name %></h1>
      <% if @activity.mobile? %>
      <strong>Mobile No:</strong> <%= @activity.mobile %>
      <br/>
      <%end%>
      <% if @activity.telephone? %>
      <strong>Telephone No:</strong> <%= @activity.telephone %>
      <%end%>
      <br/>
      <% if @user.id == current_user.id %>
      <%= link_to 'Find Help Nearby', search_path(:q => @activity.location, :category => "ulocation"), class:"btn btn-outline-warning" %>
      <%end%>
      <br/>
      <% unless @user.id == current_user.id %>
      <%= link_to 'Message Owner', new_conversation_path(:receiver_id => @user.id), class:"btn btn-outline-success" %>
      <%end%>
    </div>

    <div class="col-8">
      <strong>Description:</strong> <%= @activity.description %>
      <br/>
      <br/>
      <strong>Start Date:</strong> <%= @activity.start_date %>
      <br/>
      <br/>
      <strong>End Date:</strong> <%= @activity.end_date %>
      <br/>
      <br/>
      <% if @activity.location? %>
      <strong>Address:</strong> <%= @activity.location %>
      (Latitude: <%= @activity.latitude %> Longitude: <%= @activity.longitude%>)
      <br/>
      <div id="mapouter">
        <div id="gmap_canvas">
          <iframe width="600" height="500" frameborder="0" scrolling="no" marginheight="0" src="https://maps.google.com/maps?q=<%= @activity.location %>, IE, &t=&z=17&ie=UTF8&iwloc=&output=embed" marginwidth="0"></iframe>
          <a class="addmaps"href="http://www.map-embed.com/wordpress-themes/"id="get-map-data">Cork, IE, </a>
        </div>
        <style>#gmap_canvas{height:500px;width:600px;}#mapouter{overflow:hidden;height:500px;width:600px;}</style>
      </div>
      <%end%>
      <br/>
      <% if can? :update, @activity %>
      <%= link_to 'Edit', edit_company_activity_path(@company, @activity), class: "btn btn-outline-primary" %>
      |
      <% end %>
      <% if can? :destroy, @activity %>
      <%= link_to "Delete", company_activity_path(@company, @activity), data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-outline-danger" %>
      |
      <% end %>
      <%= link_to 'Back', company_activities_path(@company), class: "btn btn-secondary" %>
      <br/>
      <br/>

    </div>
  </div>

</div>
